Source: wayland-protocols-imx
Section: x11
Priority: optional
Maintainer: AIY Projects <support-aiyprojects@google.com>
Build-Depends:
 debhelper,
 libwayland-dev,
 pkg-config
Standards-Version: 4.1.1
Homepage: http://wayland.freedesktop.org/

Package: wayland-protocols-imx
Section: libdevel
Architecture: all
Priority: extra
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Multi-Arch: foreign
Provides: wayland-protocols
Description: wayland compositor protocols
 Wayland protocols that add functionality not available in the Wayland core
 protocol. Such protocols either add completely new functionality, or extend
 the functionality of some other protocol either in Wayland core, or some other
 protocol in wayland-protocols.
